@model IndexViewModel

<div>
    <div>
        Привет @Model.UserName. Твой уровень: @Model.CurrentLevelName. Твой опыт: @Model.Exp. Твои сбережения: @Model.Coins
    </div>
    <div>
        Чем заняться?
    </div>
    @foreach (var levelDetail in Model.LevelDetails)
    {
        <div>
            @levelDetail.Name options:
        </div>
        <div>
            <a href="/do/learn?Level=@levelDetail.Level">
                Учиться [+@levelDetail.LearningStepSize]
            </a>
        </div>
        <a href="/do/work?level=@levelDetail.Level">
            Работать [exp * @levelDetail.ExpSalaryRate]
        </a>
    }

</div>